/*
 * Colors
 * ========================================================================== */

$white-base:            hsl(255, 255, 255);
$dark-green:                 green; //EXAMPLE

/*
 * Typography
 * ========================================================================== */

$font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;



/*
 * Animations
 * ========================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;


