@import "../../variables";

#form-root {
  height: 100%;
  margin-top: 2em;

  #input-container {
    max-width: 100em;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  p {
    font-family: $font-family-base;
  }

  #button-container {
    display: flex;
    justify-content: center;

    #save-button {
      cursor: pointer;
      width: 8%;
      border-radius: .7em;
      background-color: rgba(157, 213, 36, 0.6);
      border: 1px solid rgb(109, 148, 25);
      margin-top: .8em;

      p {
        text-align: center;
        margin-top: .7em;
        margin-bottom: .7em;
      }

    }
  }
}